  *
    margin 0
    padding 0
  body
    font 12px/1.5 "Courier New", Courier, "微软雅黑", "宋体", sans-serif
    padding 30px
  .box
    list-style none
    padding 10px
    border 5px solid #960
    width 400px
    display flex
    // flex-direction row
    // flex-flow wrap
    flex-flow row wrap
    justify-content flex-start
    align-items center
    // align-conten center
    div
      width 80px
      height 80px
      background #939
      margin 10px
      text-align center
      line-height 80px
      color #fff
    .div1
      order 1
      flex-grow 1
      flex-shrink 1
      flex-basis auto
      flex auto
      // flex none
      align-self auto
