doctype html
html
  head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="description" content="stylus项目参考文档中文版之CSS样式解析(CSS Style Syntax) » 张鑫旭-鑫空间-鑫生活" />
    <meta name="description" content="stylus中文版参考文档 CSS样式解析(CSS Style Syntax)" />
    <meta name="keywords" content="css, nodejs, stylus" />
    <meta name="author" content="" />
    link(rel="stylesheet"  type="text/css" href="index.css" )
  body
    block content
    //- .box
    //-   - for ( var j= 1; j < 6; j++ )
    //-     div(class="div#{j}")= j

      //- h3 遍历数组
      //- - var courses = ['node', 'jade', 'express']
      //- each item in courses
      //-   p= item